# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android/*
# Exception: Keep custom native modules and gradle config
!/android/app
/android/app/*
!/android/app/src
/android/app/src/*
!/android/app/src/main
/android/app/src/main/*
!/android/app/src/main/java
/android/app/src/main/java/*
!/android/app/src/main/java/com
/android/app/src/main/java/com/*
!/android/app/src/main/java/com/anonymous
/android/app/src/main/java/com/anonymous/*
!/android/app/src/main/java/com/anonymous/audioplayerreactnative
!/android/gradle.properties

# Maestro test artifacts
maestro/screenshots/
